{% extends '../base.html' %}

{% block content %}
	<canvas id="canvas" width="1000" height="700"></canvas>
	<section class="rationale">
		<h1>Rationale</h1>
		<small>By Jason Dumont</small>
		<div class="col-sm-12">
			<h2>What did I aim to make?</h2>
			<p>I chose to make a sunset screnary, with the idea and concept of depth shown through the changing of shades.</p>
			<p>The idea developed and extra elements as I was creating the piece</p>
			<a id="btn-save">Click to save the image</a>
		</div>
		<div class="col-sm-12">
			<h2>Part 2</h2>
			<p>To see the animated phase of this project click here</p>
			<a href="" disabled>Click to view part 2</a>
		</div>
		<div class="col-sm-6">
			<h2>Why did I choose this</h2>
			<p>I chose this idea due to the range of elements that it is built up of, allowing me to utilise the various features that canvas has to offer, ranging from drawing straight lines to bezier curves.</p>
			<p>Another beneficial reason to develop this scenary is the duplication of objects, allowing me to further develop the product with the use of functions.</p>
			<p>I chose to use sunset as the time period for this drawing as I was then able to try out the gradient function, to provide a scenic back drop.</p>
			<p>Finally, as the shapes were complex and built up of a range of colours it allowed me to understand how elements are built ontop of one another whilst changing the colour and stroke of each shape. Plus, with the scenary setup I have chosen it opens itself to being used for the animation drawing.</p>
		</div>
		<div class="col-sm-6">
			<h2>References</h2>
			<ul>
				<li>
					<p>Drawing Lines</p>
					<a href="http://www.w3schools.com/tags/canvas_lineto.asp">W3 Schools &verbar; HTML canvas lineTo()</a>
				</li>
				<li>
					<p>Drawing Bezier Curves</p>
					<a href="http://www.w3schools.com/tags/canvas_beziercurveto.asp">W3 Schools &verbar; HTML canvas bezierCurveTo()</a>
				</li>
				<li>
					<p>Drawing Quadratic Curves</p>
					<a href="http://www.w3schools.com/tags/canvas_quadraticcurveto.asp">W3 Schools &verbar; HTML canvas quadraticCurveTo()</a>
				</li>
				<li>
					<p>Drawing Circles</p>
					<a href="http://www.w3schools.com/tags/canvas_arc.asp">W3 Schools &verbar; HTML canvas arc()</a>
				</li>
				<li>
					<p>Drawing Rectangles</p>
					<a href="http://www.w3schools.com/tags/canvas_fillrect.asp">W3 Schools &verbar; HTML canvas fillRect()</a>
				</li>
				<li>
					<p>Filling in shapes</p>
					<a href="http://www.w3schools.com/tags/canvas_fill.asp">W3 Schools &verbar; HTML canvas fill()</a>
				</li>
				<li>
					<p>Changing the stroke</p>
					<a href="http://www.w3schools.com/tags/canvas_stroke.asp">W3 Schools &verbar; HTML canvas stroke()</a>
				</li>
				<li>
					<p>Creating a gradient</p>
					<a href="http://www.w3schools.com/tags/canvas_createlineargradient.asp">W3 Schools &verbar; HTML canvas createLinearGradient()</a>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}
